table {
    margin: 1em;
    border: solid 1px;
}

body {
    font-family: "Sailec-Regular", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgba(245, 245, 245, 0.753);
    background-color: black;
}

.grey {
    border-radius: 1em;
    padding: 0.5em;
    justify-content: center;
    background-color:rgb(80,80,80, .85);
}

button {
    margin: 1em 1em 3em 1em;
}

td {
    border: solid 1px;
}

.rmvbutton {
    background-color: red;
    margin: 0em
}

.statusbutton {
    margin: 0em;
}

.rmvcell, .statuscell {
    min-width: 7em;
    text-align: center;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance:    textfield;
    appearance:         textfield;
  }

form {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    max-width: 60%;
}

#list {
    padding: 5em 0em 0em 0em;
}

#container {
    width: 80%;
    margin: 0em 0em 0em 10em;
}